{% extends 'base.html' %}
{% block content %}
    <form class="form-signin" method="post" action="/enviar/">
      <div class="text-center mb-4">
        <img class="mb-4" src="/static/images/logo.png" alt="" width="250" height="78">
       <!-- <h1 class="h3 mb-3 font-weight-normal">Floating labels</h1> -->
      </div>

      <div class="form-label-group">
          <span class="input-group-text">+55&nbsp;&nbsp;
        <textarea type="number" id="tel" name="tel" class="form-control" rows="1" placeholder="11999999999" maxlength="11" required autofocus></textarea></span>
      </div>

      <div class="form-label-group">
        <textarea type="text" id="name" name="name" class="form-control" rows="3" placeholder="Mensagem da primeira tela" maxlength="155" required autofocus></textarea>
      </div>

      <div class="form-label-group">
        <textarea type="text" id="email" name="email" class="form-control" rows="3" placeholder="Mensagem da segunda tela" maxlength="155" required autofocus></textarea>
      </div>

      <div class="form-label-group">
        <textarea type="text" id="phone" name="phone" class="form-control" rows="3" placeholder="Mensagem do sms" maxlength="155" required autofocus></textarea>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Enviar</button>
      <p class="mt-5 mb-3 text-muted text-center">&copy; IDEA Labs - 2018</p>
    </form>
{% endblock %}
